<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  convertWarningsToExceptions="true"
  convertNoticesToExceptions="true"
  convertErrorsToExceptions="true"
  bootstrap="vendor/autoload.php"
  backupStaticAttributes="false"
  processIsolation="false"
  backupGlobals="false"
  stopOnFailure="false"
  colors="true"
>
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
